In [117]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')
df.head(15)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False

In [118]:
df[['Name', 'Attack', 'Speed']].head(10)

                        Name  Attack  Speed
0                  Bulbasaur      49     45
1                    Ivysaur      62     60
2                   Venusaur      82     80
3      VenusaurMega Venusaur     100     80
4                 Charmander      52     65
5                 Charmeleon      64     80
6                  Charizard      84    100
7  CharizardMega Charizard X     130    100
8  CharizardMega Charizard Y     104    100
9                   Squirtle      48     43

Printing the row with the index 5

In [119]:
df.loc[5]

#                      5
Name          Charmeleon
Type 1              Fire
Type 2               NaN
HP                    58
Attack                64
Defense               58
Sp. Atk               80
Sp. Def               65
Speed                 80
Generation             1
Legendary          False
Name: 5, dtype: object

Printing specific ceil from the dataset (row 3 column 1)

In [120]:
df.iloc[3, 1]

'VenusaurMega Venusaur'

Here I use for loop to iterate through whole dataset and get only names with their index

Here I write a command to get only the rows whose 'Type 1' column is 'Psychic'

In [123]:
df.loc[df['Type 1'] == 'Psychic'].head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
69,64,Kadabra,Psychic,NaN,40,35,30,120,70,105,1,False
70,65,Alakazam,Psychic,NaN,55,50,45,135,95,120,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False
104,96,Drowzee,Psychic,NaN,60,48,45,43,90,42,1,False
105,97,Hypno,Psychic,NaN,85,73,70,73,115,67,1,False
131,122,Mr. Mime,Psychic,Fairy,40,45,65,100,120,90,1,False
162,150,Mewtwo,Psychic,NaN,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True

In [124]:
df.loc[df['HP'] == 55].tail(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
601,541,Swadloon,Bug,Grass,55,63,90,50,80,42,5,False
627,566,Archen,Rock,Flying,55,112,45,74,45,70,5,False
633,572,Minccino,Normal,NaN,55,50,40,40,40,75,5,False
648,587,Emolga,Electric,Flying,55,75,60,75,60,103,5,False
653,592,Frillish,Water,Ghost,55,40,50,65,85,40,5,False
666,605,Elgyem,Psychic,NaN,55,55,55,85,55,30,5,False
674,613,Cubchoo,Ice,NaN,55,70,40,60,40,40,5,False
697,636,Larvesta,Bug,Fire,55,85,55,50,55,60,5,False
785,711,GourgeistSmall Size,Ghost,Grass,55,85,122,58,75,99,6,False
788,712,Bergmite,Ice,NaN,55,69,85,32,35,28,6,False

# Sorting/Describing data

In [125]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

 Values in 'Name' column are sorted in alphabetic ascending order

In [126]:
df.sort_values('Name')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

Sorting in descending order the 'Generation' column

In [127]:
df.sort_values('Generation', ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True
738,670,Floette,Fairy,NaN,54,45,47,75,98,52,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False
742,674,Pancham,Fighting,NaN,67,82,62,46,48,43,6,False
...,...,...,...,...,...,...,...,...,...,...,...,...
110,102,Exeggcute,Grass,Psychic,60,40,80,60,45,40,1,False
109,101,Electrode,Electric,NaN,60,50,70,80,80,140,1,False
108,100,Voltorb,Electric,NaN,40,30,50,55,55,100,1,False
107,99,Kingler,Water,NaN,55,130,115,50,50,75,1,False
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False

Sorting two columns in ascending and descending order

In [128]:
df.sort_values(['Type 1', 'HP'], ascending=[1, 0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

# Making changes to the data

Creating new column named 'Total'

In [129]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

Droping the 'Total' column

In [130]:
df = df.drop(columns='Total')
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

Another way to create a new column

In [131]:
df['Total'] = df.iloc[:, 4:10].sum(axis=1)
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

Changing the order of the columns

In [132]:
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + [cols[-2]] + cols[4:12]]
df

,#,Name,Type 1,Type 2,Total,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,True,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,True,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,True,80,110,120,130,90,70,6,True

In [133]:
df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
Legendary       0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [134]:
df

,#,Name,Type 1,Type 2,Total,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,True,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,True,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,True,80,110,120,130,90,70,6,True

In [135]:
mode = df['Type 2'].mode()
mode

0    Flying
Name: Type 2, dtype: object

In [136]:
df['Type 2'].fillna('Flying', inplace=True)
df['Type 2']

C:\Users\admin\AppData\Local\Temp\ipykernel_14584\3156964280.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Type 2'].fillna('Flying', inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_14584\3156964280.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Type 2'].fillna('Flying', inplace=True)

0      Poison
1      Poison
2      Poison
3      Poison
4      Flying
        ...
795     Fairy
796     Fairy
797     Ghost
798      Dark
799     Water
Name: Type 2, Length: 800, dtype: object

In [137]:
df.isnull().sum()

#             0
Name          0
Type 1        0
Type 2        0
Total         0
Legendary     0
HP            0
Attack        0
Defense       0
Sp. Atk       0
Sp. Def       0
Speed         0
Generation    0
Legendary     0
dtype: int64

In [138]:
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]

,#,Name,Type 1,Type 2,Total,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,False,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,320,False,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,395,False,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,490,False,75,80,85,110,90,50,1,False
75,69,Bellsprout,Grass,Poison,300,False,50,75,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,390,False,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,490,False,80,105,65,100,70,70,1,False
344,315,Roselia,Grass,Poison,400,False,50,60,45,100,80,65,3,False
451,406,Budew,Grass,Poison,280,False,40,30,35,50,70,55,4,False
452,407,Roserade,Grass,Poison,515,False,60,70,65,125,105,90,4,False
651,590,Foongus,Grass,Poison,294,False,69,55,45,55,55,15,5,False
652,591,Amoonguss,Grass,Poison,464,False,114,85,70,85,80,30,5,False